$blue: #3463ae;
$yellow: #ffcb05;

$spacing-small: 5px;
$spacing-default: 15px;
$spacing-large: 25px;

$fontweight-medium: 500;
$fontweight-bold: 700;

$fontsize-large: 1.25em;

$radius-small: 5px;

$types: (
  normal: #a8a77a,
  fire: #ee8130,
  water: #6390f0,
  electric: #f7d02c,
  grass: #7ac74c,
  ice: #96d9d6,
  fighting: #c22e28,
  poison: #a33ea1,
  ground: #e2bf65,
  flying: #a98ff3,
  psychic: #f95587,
  bug: #a6b91a,
  rock: #b6a136,
  ghost: #735797,
  dragon: #6f35fc,
  dark: #535353,
  steel: #b7b7ce,
  fairy: #d685ad,
);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Phudu:wght@500&display=swap');

@each $type, $colour in $types {
  .#{$type} {
    background-color: $colour;
  }
}

h1 {
  font-size: 3.5em;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: Phudu, Inter, sans-serif;
}

h3 {
  margin-bottom: $spacing-small;
}

img {
  max-width: 100%;
}

button {
  background: #fff;
  color: #000;
  padding: 5px 10px;
  box-shadow: none;
  font-family: 'Phudu', cursive;
  border: 5px solid #000;
  font-size: 1.5em;
  cursor: pointer;
  font-weight: bold;
  margin: $spacing-default;
}

#app {
  font-family: Inter, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $spacing-default;
  font-size: 16px;
  font-weight: 300;
  min-height: 100vh;
  box-sizing: border-box;
  transition: background-color 0.3s;
  position: relative;

  @each $type, $colour in $types {
    &.sub-theme-#{$type} {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(transparent, $colour);
      }
    }
  }

  & > * {
    position: relative;
    z-index: 2;
  }
}

.button-panel {
  display: flex;
  justify-content: center;
}

button {
  transition: 0.3s;
}

button[disabled] {
  opacity: 0.3;
}

.pokemon-card {
  background: $yellow;
  max-width: 100%;
  padding: $spacing-default;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(black, 0.4);
  margin-top: $spacing-default;
}

.pokemon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: $fontweight-bold;
  padding: 0 0 $spacing-default;
  text-transform: uppercase;
  font-size: 1.5em;
}

.pokemon-data {
  background: #fff;
  padding: $spacing-default;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: $spacing-large;
  box-shadow: 0 0 5px rgba(black, 0.7) inset;

  & > div > div:not(:last-child) {
    margin-bottom: $spacing-large;
  }
}

.pokemon-text {
  width: 300px;
}

.type-list {
  margin: $spacing-default 0;

  a {
    padding: $spacing-small $spacing-default;
    border-radius: $radius-small;
    color: #000;
    text-transform: uppercase;
    font-weight: $fontweight-bold;
    font-size: $fontsize-large;
    margin-right: $spacing-small;
  }
}

.held-items-container {
  min-height: 125px;
}

.held-items-list {
  display: flex;
  flex-direction: column;

  a {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000;
    gap: $spacing-small;

    &:hover {
      color: $blue;
    }
  }
}

.base-stats {
  width: fit-content;

  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: 18px;
      border: 1px solid #000;
      border-radius: 50%;
      width: 22px;
      text-align: center;
      text-decoration: none;
      font-weight: initial;
      color: #000;
    }
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-large;
    text-transform: capitalize;
  }

  .hp {
    text-transform: uppercase;
  }
}

.sprite-list {
  width: 216px;

  .different-gender-sprite-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  figure {
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0;
    margin: $spacing-small;
    border-radius: $radius-small;
  }

  figcaption {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: small;
    padding: 3px;

    span {
      display: none;
    }
  }
}

footer {
  background: #fff;
  padding: $spacing-small $spacing-default;
  border-radius: 5px;
  text-align: center;

  margin-top: $spacing-large;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9);

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: $spacing-small $spacing-large;

    & > * {
      color: #000;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

@media (max-width: 1300px) {
  .main-artwork {
    width: 420px;
  }
}

@media (max-width: 960px) {
  .pokemon-data {
    flex-direction: column;

    * {
      text-align: center;
    }
  }

  .sprite-list {
    width: 100%;
    order: 2;
    text-align: center;
  }

  .sprite-list .same-gender-sprite-list,
  .sprite-list .different-gender-sprite-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pokemon-text {
    order: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  h1 {
    font-size: 3em;
  }

  .button-panel {
    gap: 6px;
  }

  .button-panel button {
    margin: 20px 0;
    font-size: 1.3em;
  }

  .held-items-list a {
    justify-content: space-between;
  }

  .held-items-container {
    min-height: 0;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.25em;
  }

  .button-panel button {
    font-size: 1.1em;
  }
}
